 .group {
  background-color: #f6f3f3;
  margin: 5px 2%;
}

 .group .images {
  width: 100%;
  height: 300px;
  margin-bottom: 150px;
  /* position: inherit; */
}

.group .images .desc{
  display: flex;
  flex-direction: row;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  /* margin: 0 auto;  */
  top: 200px;
  margin: 0 2%;
  width: 50%;
  flex-grow: 1;
  
}

.group .images .desc .avatar{

}

 .group .images .cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

 .group .images .groupPic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 200px;
  right: 0;
  margin: auto;
  top: 45px;
}

 .group .groupContainer {
  /* padding: 20px 70px; */
  position: relative;
  width: 60%;
  /* margin: 0 auto; */
}

@media (max-width: 480px) {
   .group .groupContainer {
    padding: 10px;
  }
}

@media (max-width: 960px) {
   .group .groupContainer {
    padding: 20px;
  }
}

 .group .groupContainer .uInfo {
  height: 180px;
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  background-color: white;
  color: #000;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.group .groupContainer .uInfo .bottom {
  margin-top: 10px;
}

.group .groupContainer .uInfo .bottom button {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.group .groupContainer .uInfo .bottom .followed {
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;;
  background-color: #9197ae;
}

@media (max-width: 480px) {
   .group .groupContainer .uInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30vh;
    padding: 20px;
    margin-top: 100px;
  }
}

 .group .groupContainer .uInfo .top {
  /* -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  gap: 10px;
}

@media (max-width: 960px) {
   .group .groupContainer .uInfo .top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

 .group .groupContainer .uInfo .top a {
  color: #555;
}

 .group .groupContainer .uInfo .center {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 20px;
}

 .group .groupContainer .uInfo .center span {
  font-size: 30px;
  font-weight: 500;
}

 .group .groupContainer .uInfo .center .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  /* -ms-flex-pack: distribute;
      justify-content: space-around; */
  font-size:x-small;
}

 .group .groupContainer .uInfo .center .info .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #555;
  margin-bottom: 10px;
  width: 85%;
}

.group .groupContainer .uInfo .center .info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

 .group .groupContainer .uInfo .center .info  span {
  font-size: 20px;
}

 .group .groupContainer .uInfo .center button {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

 .group .groupContainer .uInfo .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}


/*# sourceMappingURL=group.css.map */