.friend {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: white;
    color: #000;
    margin: 10px 2%;
  }
  
   .friend .container {
    padding: 20px;
  }
  
   .friend .container .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
   .friend .container .top .left {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  
   .friend .container .top .left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
   .friend .container .top .left input {
    border: none;
    outline: none;
    padding: 20px 10px;
    background-color: transparent;
    width: 60%;
    color: #000;
  }
  
   .friend .container .top .right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
   .friend .container .top .right .file {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0px;
  }
  
   .friend .container hr {
    margin: 20px 0px;
    border: none;
    height: 0.5px;
    background-color: lightgray;
  }
  
   .friend .container .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
   .friend .container .bottom .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  
   .friend .container .bottom .left .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
   .friend .container .bottom .left .item img {
    height: 20px;
  }
  
   .friend .container .bottom .left .item span {
    font-size: 12px;
    color: gray;
  }
  
   .friend .container .top .right button {
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    background-color: #5271ff;
    border-radius: 3px;
  }
  .friend .container .top .right .followed {
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    background-color: #9197ae;
    border-radius: 3px;
  }
  
  
  